.always {
  margin-top: 180px;
  background-color: #F0F9FF;
  position: relative;
  &__content {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 150px;
  }
  &__title {
    font-weight: bold;
    font-size: 58px;
    line-height: 96px;
    margin: 0 0 21px 0;
  }
  &__caption {
    font-size: 22px;
    line-height: 26px;
    color: #4A4A4A;
    max-width: 580px;
  }
  &__icons {
    position: absolute;
    top: 40%;
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .always {
    &__icons {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .always {
    margin-top: 80px;
    &__content {
      flex-direction: column;
      align-items: center;
    }
  }
}

@media screen and (max-width: 500px) {
  .always {
    &__title {
      font-size: 25px;
      line-height: 29px;
    }
    &__caption {
      font-size: 10px;
      line-height: 12px;
    }
  }
}
