.assets {

  &__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  &__name {
    font-weight: bold;
    font-size: 33px;
    line-height: 39px;
    margin: 0 0 20px 0;
  }

  &__price {
    display: flex;
    font-weight: bold;
    font-size: 23px;
    line-height: 25px;
    align-items: center;

    &_now {
      margin: 0 10px 0 0;
    }

    &_variance{
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #30A326;
    }
  }

}
