.trades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  position: fixed;
  right: 0;
  bottom: 0;
  overflow: hidden;
  width: 300px;
  padding: 20px 40px;
  z-index: 4;
  background: #fff;
  box-shadow: 0px -1px 40px rgba(27, 43, 126, 0.25);
  border-radius: 8px;
}

.operations {
  &__list {
    border-bottom: 1px solid #dbdbdb;
    font-size: 13px;
    width: 100%;
    padding-bottom: 25px;
    line-height: 1.1;
    word-break: break-all;
    opacity: 1;
    font-weight: 400;
    visibility: visible;
    transition: visibility 0.5s, opacity 0.5s linear;
  }
  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    line-height: 29px;
  }
  &__name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
      &_text {
        margin: 0;
        font-weight: bold;
        font-size: 20px;
        text-transform: uppercase;
        color: #28CD6A;
      }
  }
  &__img {
    width: 20px;
    margin-right: 15px;
  }
  &__content {
    margin: 0;
  }
  &__price {
    font-weight: 800;
    font-size: 16px;
    line-height: 29px;
  }
  &__link {
    margin-left: 15px;
    &_icon {
      color: #28CD6A;
      width: 20px;
    }
  }
}

.price{
  display: flex;
  align-items: center;
}
.popup__button__close {
  position: relative;
}

.popup__close {
  width: 10px;
  position: absolute;
  right: 0.8em;
  top: 0.5em;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.not-active {
  display: none;
}

.date {
  margin: 0;
}

@media screen and (max-width: 750px) {
  .tades {
    display: none;
  }
}
