.trade{
  position: relative;

  &__title {
    font-weight: bold;
    font-size: 58px;
    line-height: 96px;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    height: 157px;
  }
  &__img {
    width: 150px;
  }
}

@media screen and (max-width: 768px){
  .trade{
    &__title {
      font-size: 25px;
      line-height: 29px;
    }
  }
}
