.about{
  background-image: url(../image/back-about.png);
  background-repeat: no-repeat;
  background-size: cover;

  &__logo {
    width: 340px;
    height: 74px;
    margin: 37px 0 0 0;
  }

  &__conteiner {
    display: flex;
    align-items: center;
  }

  &__info{
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    max-width: 670px;
  }

  &__title {
    font-weight: bold;
    font-size: 64px;
    line-height: 67px;
    margin: 0;
  }

  &__caption {
    font-weight: 500;
    font-size: 39px;
    line-height: 47px;
    margin: 25px 0 0;
  }

  &__image {
    margin:0 0 47px 133px;
    &__mobile {
      display: none;
    }
  }
}

@media screen and (max-width: 1400px) {
  .about{
    &__image {
      margin-left: 0;
      width: 100%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .about{
    &__info{
      max-width: 500px;
    }
  }
}

@media screen and (max-width: 768px) {
  .about{
    &__conteiner{
      flex-direction: column;
      align-items: center;
    }
    &__info{
      margin-top: 74px;
      margin-bottom: 50px;
    }
    &__image {
      display: none;
      &__mobile {
        display: flex;
        width: 100%;
      }
    }

  }
}

@media screen and (max-width: 660px) {
  .about {
    &__title {
      font-size: 29px;
      line-height: 30px;
    }
    &__caption {
      font-size: 15px;
      line-height: 18px;
    }
  }
}

@media screen and (max-width: 400px) {
  .about {
    &__logo {
      width: 100%;
    }
  }
}
