.about{
  background-image: url(../../../../image/back-about.png);

  &__logo {
    width: 97px;
    height: 97px;
    margin: 37px 0 0 0;
  }

  &__conteiner {
    display: flex;
  }

  &__info{
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    max-width: 670px;
    margin-top: 174px;
  }

  &__title {
    font-weight: bold;
    font-size: 64px;
    line-height: 67px;
    margin: 0;
  }

  &__caption {
    font-weight: 500;
    font-size: 39px;
    line-height: 47px;
    margin: 25px 0 260px 0;
  }
}


@media screen and (max-width: 1024px) {
  .about{
    &__info{
      max-width: 500px;
    }
  }
}
