.advantages {
  background-image: url(../../../../image/back-advantages.png);
  background-repeat: no-repeat;
  min-height: 780px;
  background-position: bottom;

  &__title {
    font-weight: bold;
    font-size: 64px;
    line-height: 76px;
    max-width: 644px;
    margin: 93px 0 70px 0;
  }

  &__list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(457px, 1fr));
    column-gap: 40px;
    row-gap: 110px;
    list-style: none;
    margin-bottom: 93px;
    padding: 0;
  }

  &__contein{
    display: flex;
  }

  &__text{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 21px;
  }

  &__name {
    margin: 0;
    font-weight: bold;
    font-size: 33px;
    line-height: 39px;
    max-width: 402px;
  }

  &__caption {
    font-size: 20px;
    line-height: 24px;
  }
}

@media screen and (max-width: 660px) {
  .advantages {
    &__title {
      font-size: 25px;
      line-height: 30px;
    }
    &__name {
      font-size: 18px;
      line-height: 21px;
    }
    &__caption {
      font-size: 12px;
      line-height: 14px;
    }
    &__list{
      display: flex;
      flex-direction: column;
    }
  }
}
